/* Set styling options for the page */
body{
    background-color: lightcyan;
    font-family: 'Comfortaa', cursive;
    color: rgba(0, 0, 0, 0.795);
}

/* Target the header items */
h3{
    text-align: center;
    width: 70%;
    margin: auto;
    padding: 8px;
    margin-bottom: 12px;
    border: solid gray 1px;
    border-radius: 5px;
    background-image: linear-gradient(rgba(240, 128, 128, 0.6), rgba(255, 255, 0, 0.5)),
                  url("./paisley.png");
}