body{
    background-color: lightcyan;
    font-family: 'Comfortaa', cursive;
    color: rgba(0, 0, 0, 0.795);

}

h3{
    text-align: center;
    /* background-color: rgb(240, 128, 128); */
    width: 70%;
    margin: auto;
    padding: 8px;
    margin-bottom: 8px;
    border: solid gray 1px;
    background-image: linear-gradient(rgba(240, 128, 128, 0.6), rgba(255, 255, 0, 0.5)),
                  url("./paisley.png");
    /* background-image:url("paisley.png"); */
}